/*#fullpage {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}*/

.X { 
	list-style-type: none;
	display: none;
}

.greeny {
	color:green;
}

.photo {
	/*display: none;*/
}

h4, h3, h2 {
	text-align: center;
}

.anim_button {
	margin-left: 25%;
}

#nxt_pg {
	float: right;
	margin: 5px 5px 0px 0px;
}

div .col-md-12 h1 {
	text-align: center;
	color: #fff;
	font-style: italic;

}

#radius_imp {
	width: 50%;
    margin: 0 auto;
}

.area_of_circle {
	font-family:Lucida Console;
	color: #2F2D2D;
}

.radius_style {
	font-family:Impact;
	color: #3E4AF2;
}

.result {
	font-family:Verdana;
	color: #F1FF1E;
}

#draw_circ {
	margin-left: 30%;
}

#myCanvas {
	padding-top: 100px;
}

p {
	text-align: center;
	color: white;
	font-size: 50px;
}

.random_div {
	width:150px; 
	height:150px; 
	background:#ececec;
	margin-top: 10px;
	margin: 0 auto;
}

.testclass {
	font-size: 40px;
	color: red;
}

.hoover_class {
	background-color: #4285f4;
	border: 1px solid #000000;
}
